.jumbotron h1{
  text-align:center;
  font-size: 200%;
}
.jumbotron h1:hover{
  color:red;
}
.form-group strong:hover{
  color:red;
}
h6 strong:hover{
  color:red;
}

#calculate {
  margin-left:2%;
  text-align:center;
}
#calculate:hover {;
}

#results{
  text-align: left;
  margin: auto;
  margin-top: 2%;
}
#results button {
  margin:auto;
  display: none;
}
.footer {
  text-align: center;

}
