.jumbotron h1{
  text-align:center;
  font-size: 200%;
}
.jumbotron h1:hover{
  color:red;
}
.form-group strong:hover{
  color:red;
}
h6 strong:hover{
  color:red;
}
#calculate {
  margin-left: 40%;
}
#reverse {
  display: none;
  margin-left: 40%;

}
#results button {
  display:none;
}
#calculate:hover {
  margin-left:40%;
  opacity:20%;
}
.footer {
  text-align: center;
}
